.card {
    margin-bottom: 10px;
    margin-left: 25px;
}

.searchedCard {
    margin: 0 auto;
    float: none;
    display : inline-block;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 45%;
}