header{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 30em;
    text-align : center
}

.last_news{
    margin: 15px;
}

.card {
    margin: 0 auto;
    float: none;
    display : inline-block;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 45%;
}

.titre_news {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 40px;
    width: 20em;
    text-align : center
}